<!doctype html>
<html>
<head>
    <title>Home</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <h1>Welcome to the home page!</h1>
    <h2>Our Students:</h2>
    <div class = "container">
	    {% for student in students: %}
	        <div class = "student_info">
			    <h3>Student name: {{student.name}}</h3>
			    <p>Year: {{student.year}}</p>
			    <p>Finished lab? {{student.finished_lab}}</p>
			</div>
		{% endfor %}
	</div>
</body>
</html>
